@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;

}

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0.25rem 1rem;
    padding: 0.25rem 1rem;
}

.form-container {
    background: #f5f3fc;
    border: 18px solid #9667e0;
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    flex-direction:column;
    margin: 2rem;
    padding: 1rem;

}

.form-endereco_label {
    display: flex;
    flex-wrap: nowrap;
    gap: 140px;

}
.form-endereco_input{
    display: flex;
}


input {
    background-color: #efe6fc;
    border-style: none;
    margin: 1rem ;
    padding: 0.50rem;

}

.form-input_radio {
    height: 15px;
    margin: 0.70rem 0.75rem;
    width: 20px;

}

.form-input_termos {
    position: relative;
    margin: 0.70rem 0.75rem;
    height: 18px;
    width: 25px;

}


label {
    margin: 0.50rem 1rem;
    margin-bottom: 0.25px;
    
}

select {
    margin: 1rem ;
    padding: 0.50rem;

}

.form-container_botao {
    background-color:#9667e0;
    color: #f5f3fc;
    font-size: 15px;
    margin: 1rem ;
    padding: 0.75rem;
    text-transform: uppercase;

}

.container-titulo {
    text-align: center;
    margin-bottom: 15px;
}

.container-imagem {
    width: 100vh;
    height: 900px;
    margin: 0 auto;
}