@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Roboto:wght@300;400&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;

}

.container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin: 1rem 2rem;
    padding: 1rem 2rem;
}

.form-container {
    background: #f5f3fc;
    border: 20px solid #9667e0;
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    flex-direction:column;
    padding: 2rem;

}

.form-endereco_label {
    display: flex;
    flex-wrap: nowrap;
    gap: 140px;

}
.form-endereco_input{
    display: flex;
}


input {
    background-color: #efe6fc;
    border-style: none;
    margin: 1rem 1.50rem ;
    padding: 1rem;

}

label {
    margin: 0 1.50rem ;
    
}

select {
    margin: 1rem 1.50rem ;
    padding: 1rem;

}

.form-container_botao {
    background-color:#9667e0;
    color: #f5f3fc;
    font-size: 20px;
    margin: 1rem 1.50rem ;
    padding: 1rem;
    text-transform: uppercase;

}

.container-titulo {
    text-align: center;
    margin-bottom: 15px;
}

.container-imagem {
    width: 100vh;
    margin-right: 5rem;
}